<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="index.html">
            <i class="bi bi-cross"></i> Yayasan New Life
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown">
                        About Us
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="about-structure.html">Struktur</a></li>
                        <li><a class="dropdown-item" href="about-profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="about-achievement.html">Achievement</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="programDropdown" role="button" data-bs-toggle="dropdown">
                        Our Program
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="program-testimony.html">Kesaksian</a></li>
                        <li><a class="dropdown-item" href="program-resource.html">Resource</a></li>
                        <li><a class="dropdown-item" href="program-pantiasuhan.html">Pantiasuhan</a></li>
                        <li><a class="dropdown-item" href="program-pemuritan.html">Pemuridan</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="contact.html">Contact Us</a>
                </li>
                <li class="nav-item ms-lg-2">
                    <a class="btn btn-donate rounded-pill px-4" href="donate.html">Donate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>